<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="input-group">
            <input ng-enter="runSearch()" placeholder="Zoeken naar trefwoorden, publicaties, ..." type="text"
                   class="form-control" ng-model="term">
            <span class="input-group-btn">
          <button type="button" class="btn btn" ng-click="runSearch()">
              <span class="glyphicon glyphicon-search"></span>
          </button>
      </span>
        </div>
    </div>
</div>